.card-background-color {
    background-color: $base;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card-padding-horizontal {
    padding-left: 1rem;
    padding-right: 1rem;
}

.card-padding-vertical {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.card-title {
    font-size: xx-large;
}

.text-negativ-color {
    color: $text-negativ-color;

    h1, h2, h3, h4, h5, h6 {
        color: $text-negativ-color;
    }
}

.testimonial
{
    margin-top: 30px;
    display: grid;
    grid-template-columns: minmax(90px, 10%) 1fr;
    grid-gap: 20px;
}

.testimonial img
{
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #95C11F;
    border-radius: 50%;
    box-sizing: content-box;
    float: left;
    max-width: 90px;
}

.testimonial .content
{
    overflow: hidden;
    padding-left: 20px;
    float: right;
}

.testimonial-name
{
    padding-left: 50px;
    position: relative;
}
.testimonial-name h2
{
    color: $text-color;
}
.testimonial h2::before
{
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 30px;
    background: #383838;
}
