<div class="page__footer-follow footer-all-inline">
  <a href="{{ 'press' | relative_url }}"    rel="nofollow noopener noreferrer">Presse</a>
  <a href="{{ 'impress' | relative_url }}"  rel="nofollow noopener noreferrer">Impressum</a>
  <a href="{{ 'gdpr' | relative_url }}"     rel="nofollow noopener noreferrer">Datenschutzerklärung</a>
  <ul class="social-icons">
    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"><a href="{{ link.url }}" rel="nofollow noopener noreferrer"> {{ link.label }}</a></i></li>
        {% endif %}
      {% endfor %}
    {% endif %}
  </ul>
</div>

