/* override minimal mistakes default */
body {
	font-size: 0.9em;
	color: #393939;
	line-height: 1.8em;
}
ul li, ol li {
	margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: 200;
}

.twitter-image {
    width: 70px !important;
    height: 39px !important
}