/* ==========================================================================
   Fuss und Radentscheid Dresden skin
   ========================================================================== */

/* Colors */
$base                         : #95C11F !default;
$dark-base                    : mix(#000, $base, 40%) !default;
$darker-base                  : mix(#000, $base, 60%) !default;
$light-base                   : mix(#fff, $base, 50%) !default;
$lighter-base                 : mix(#fff, $base, 90%) !default;

$primary-color                : $base !default;
$success-color                : #27ae60 !default;
$warning-color                : #e67e22 !default;
$danger-color                 : #c0392b !default;
$info-color                   : #03a9f4 !default;

$body-color                   : #fff !default;
$background-color             : #f0fff0 !default;
$code-background-color        : $lighter-base !default;
$code-background-color-dark   : $light-base !default;
$text-color                   : #000 !default;
$text-second-color            : #e6332a !default;
$text-negativ-color           : #FFFFFF !default;
$border-color                 : $lighter-base !default;

$footer-background-color      :  $light-base;
$blockquote-background-color  :  #ededed;

/* Menu */
$menu-text-color              : $base;
$menu-hover-text-color        : $text-second-color;
$menu-background-color        : $background-color !default; //$lighter-base !default;
$menu-hover-background-color  : $light-base; //$lighter-base !default;
$sub-menu-background-color    : $body-color !default; //$lighter-base !default;


/* links */
$link-color                   : $base !default;
$link-color-hover             : mix($link-color, $link-color, 25%) !default;
$link-color-visited           : mix(#fff, $link-color, 25%) !default;
$masthead-link-color          : $primary-color !default;
$masthead-link-color-hover    : mix($base, $primary-color, 25%) !default;

/* notices */
$notice-background-mix        : 90% !default;
$code-notice-background-mix   : 95% !default;
