<article class="archive" >
    <h2>{{ page.title }}</h2>

    {{ content }}

    <div class="triptychon">

        <div class="item item-border text-center">
            <h3>Kontakt</h3>
            <p>Wenn Du Fragen hast oder bei einem unserer Treffen vorbeischauen möchtest, <b>schreib uns</b> unter: <a href="mailto:kontakt@fuss-und-radentscheid-dresden.de">kontakt@fuss-und-radentscheid-dresden.de</a></p>
        </div>

        <div class="item item-border text-center">
            <h3>Social Media</h3>
            <p>Folge uns auf Twitter, um auf dem neuesten <b>Stand zu bleiben</b> und mitzudiskutieren!</p>
            <a href="https://twitter.com/FuRe_DD?ref_src=twsrc%5Etfw" title="Twitter: Fuß- und Radentscheid Dresden - Einfache und sichere Mobilität für alle!" target="_blank">
                <img class="twitter-image" src="assets/images/home/Twitter-Logo-700x394.png" alt="Twitter Logo" loading="lazy" />
            </a>
        </div>

        <div class="item item-border text-center">
            <h3>Spenden</h3>
            <p>Unterstütze unsere Arbeit für einen erfolgreichen Fuß- und Radentscheid in Dresden durch Deine Spende!</p>
            <a href="https://changing-cities.org/civicrm/?civiwp=CiviCRM&q=civicrm%2Fcontribute%2Ftransact&reset=1&id=21" target="_blank" class="btn btn--primary">Spenden</a>
        </div>
    </div>
</article>
