<article class="archive">
    <h2 class="card-title">{{ page.title }}</h2>

    <div class="triptychon">
        <div class="item">
            <img src="{{ page.image-1-url }}" />
            <h3>{{ page.image-1-title }}</h3>
            <p>{{ page.image-1-text }}</p>
        </div>

        <div class="item">
            <img src="{{ page.image-2-url }}" />
            <h3>{{ page.image-2-title }}</h3>
            <p>{{ page.image-2-text }}</p>
        </div>

        <div class="item">
            <img src="{{ page.image-3-url }}" />
            <h3>{{ page.image-3-title }}</h3>
            <p>{{ page.image-3-text }}</p>
        </div>

        {{ content }}
    </div>
</article>
